* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.header-hero-container, .info-header-container, .testimonial-sect, .cta-content, .footer {
    min-width: 1000px;
}
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 70px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}
.header-links {
    width: 30%;
}
.header-hero-container, .footer {
    background-color: #1f2937;
}
.header-links ul {
    display: flex;
    justify-content: space-between;
}
.header-links .nav-links {
    /* This line of codes remove the bullet point from the unordered list  */
    list-style-type: none;
}
a {
    /* Removes the underline in the link */
    text-decoration: none;
}
.rm-d4, .sub-text {
    color: #e5e7eb;
    font-size: 18px;
}
.hero {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
.hero-text {
    width: 30%;
}
.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.hero-text .btn {
    margin-top: 5px;
    background-color: #3883f6;
}
.hero-img {
    height: auto;
    width: 500px;
}
.rm-d4-1, .cta {
    color: #fff;
}
.btn, .cta-btn-1 {
    border: 1px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}
.info-header-container {
    padding: 50px 0;
}
.info-header-text {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.info-header-text, .img-text, .testimonial-sect {
    color: #1f2937;
}
.info-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.img-text {
    text-align: center;
    font-size: 18px;
}
.testimonial-sect {
    background-color: #e5e7eb;
    padding: 40px;
}
.testimonial-sect p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}
.test-sub-text {
    margin-left: 500px;
    font-weight: bold;
}
.cta-container {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3883f6;
    color: #fff;
    margin: 60px auto;
    padding: 40px;
    border-radius: 10px;
}
.cta-btn-1 {
    background-color: #3883f6;
    border-radius: 5px;
    border: 2px solid #fff;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    padding: 40px;
}