* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header-hero-container {
    min-width: 1000px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 100%; */
}
.logo {
    width: 70px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}
.header-links {
    width: 30%;
}

.header-hero-container, .footer {
    background-color: #1f2937;
}

.header-links ul {
    display: flex;
    justify-content: space-between;
}
.header-links .nav-links {
    /* This line of codes remove the bullet point from the unordered list  */
    list-style-type: none;
}
a {
    /* Removes the underline in the link */
    text-decoration: none;
}

.rm-d4, .sub-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
.hero-text {
    width: 30%;
}
.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-img {
    height: auto;
    width: 500px;
}

.rm-d4-1, .cta {
    color: #fff;
}

.btn {
    background-color: #3883f6;
    margin-top: 30px;
}

.btn, .cta-btn-1 {
    border: 1px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}

.info-header-container {
    padding: 50px 0;
    /* margin: 20px 0; */
}

.info-header-text {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.info-header-text, .img-text, .quote-sect {
    color: #1f2937;
}

.info-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.img-text {
    text-align: center;
    font-size: 18px;
}
.testimonial-sect {
    background-color: #e5e7eb;
    padding: 40px;
    /* width: fit-content; */
}
.testimonial-sect p {
    /* height: 50vh; */
    /* background-color: #e5e7eb; */
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    /* padding: 40px; */
    /* padding-top: 40px; */
}

.test-sub-text {
    padding-left: 500px;
    font-weight: bold;
}

.cta-container {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3883f6;
    color: #fff;
    margin: 60px 80px;
    border-radius: 10px;
}

.cta-btn-1 {
    background-color: #3883f6;
    border-radius: 5px;
    border: 2px solid #fff;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    height: 10vh;
}